
ul {
    list-style: none;
    padding: 0;
    margin: 0;
    border: 0;
    display: block;

}

#test {
    height: 100%;
    position: absolute;

}

li {
    list-style: none;
    padding: 0;
    margin: 0;
    border: 0;
}

.swrapper {
    display: block;
    position: absolute;
    z-index: 1;
    top: 42px;
    left: 0px;
    width: 100%;
    overflow: auto;
}

.scroller {
    display: block;
    position: absolute;
    z-index: 1;
    right: 0px;
    left: 0px;
    padding: 0;
    min-height: 100%;
    background-color: #e3e7e4;

}

.pullDown {
    position: absolute;

    height: 40px;
    line-height: 40px;
    padding: 5px 10px;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
    font-size: 14px;
    color: #888;
    top: 0px;
    width: 100%;
    background-color: #fff;
}

.pullUp {
    position: absolute;

    height: 40px;
    line-height: 40px;
    padding: 5px 10px;
    border-top: 1px solid #ccc;
    font-weight: bold;
    font-size: 14px;
    color: #888;
    bottom: 0px;
    width: 100%;
    background-color: #fff;
}

.pullDown .pullDownIcon, .pullUp .pullUpIcon {
    display: block;
    float: left;
    width: 40px;
    height: 40px;
    background: url(../img/pull-icon@2x.png) 0 0 no-repeat;
    background-size: 40px 80px;
    /*chrome*/
    -webkit-background-size: 40px 80px;
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 250ms;
    /*ff*/
    -moz-background-size: 40px 80px;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 250ms;
    /*opera*/
    -o-background-size: 40px 80px;
    -o-transition-property: -o-transform;
    -o-transition-duration: 250ms;
}

.pullDown.idle .pullDownIcon {
    background-position: 0 0;
    /*chrome*/
    -webkit-transform: rotate(0deg) translateZ(0);
    -webkit-animation-name: idle;
    -webkit-animation-duration: 0;
    /*ff*/
    -moz-transform: rotate(0deg) translateZ(0);
    -moz-animation-name: idle;
    -moz-animation-duration: 0;
    /*opera*/
    -o-transform: rotate(0deg) translateZ(0);
    -o-animation-name: idle;
    -o-animation-duration: 0;
}

.pullUp.idle .pullUpIcon {
    background-position: 0 0;
    /*chrome*/
    -webkit-transform: rotate(-180deg) translateZ(0);
    /*ff*/
    -moz-transform: rotate(-180deg) translateZ(0);
    /*opera*/
    -o-transform: rotate(-180deg) translateZ(0);
}

.pullDown.flip .pullDownIcon {
    background-position: 0 0;
    /*chrome*/
    -webkit-transform: rotate(-180deg) translateZ(0);
    -webkit-animation-name: idle;
    -webkit-animation-duration: 0;
    /*ff*/
    -moz-transform: rotate(-180deg) translateZ(0);
    -moz-animation-name: idle;
    -moz-animation-duration: 0;
    /*opera*/
    -o-transform: rotate(-180deg) translateZ(0);
    -o-animation-name: idle;
    -o-animation-duration: 0;
}

.pullUp.flip .pullUpIcon {
    background-position: 0 0;
    /*chrome*/
    -webkit-transform: rotate(0deg) translateZ(0);
    /*ff*/
    -moz-transform: rotate(0deg) translateZ(0);
    /*opera*/
    -o-transform: rotate(0deg) translateZ(0);
}

.pullDown.loading .pullDownIcon, .pullUp.loading .pullUpIcon {
    background-position: 0 100%;
    /*chrome*/
    -webkit-transform: rotate(0deg) translateZ(0);
    -webkit-transition-duration: 0ms;
    -webkit-animation-name: loading;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    /*ff*/
    -moz-transform: rotate(0deg) translateZ(0);
    -moz-transition-duration: 0ms;
    -moz-animation-name: loading;
    -moz-animation-duration: 2s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    /*opera*/
    -o-transform: rotate(0deg) translateZ(0);
    -o-transition-duration: 0ms;
    -o-animation-name: loading;
    -o-animation-duration: 2s;
    -o-animation-iteration-count: infinite;
    -o-animation-timing-function: linear;
}

/*chrome*/
@-webkit-keyframes loading {
    from {
        -webkit-transform: rotate(0deg) translateZ(0);
    }
    to {
        -webkit-transform: rotate(360deg) translateZ(0);
    }
}

@-webkit-keyframes idle {
    from {
        -webkit-transform: rotate(0deg) translateZ(0);
    }
    to {
        -webkit-transform: rotate(0deg) translateZ(0);
    }
}

/*ff*/
@-moz-keyframes loading {
    from {
        -moz-transform: rotate(0deg) translateZ(0);
    }
    to {
        -moz-transform: rotate(360deg) translateZ(0);
    }
}

@-moz-keyframes idle {
    from {
        -moz-transform: rotate(0deg) translateZ(0);
    }
    to {
        -moz-transform: rotate(0deg) translateZ(0);
    }
}

/*opera*/
@-o-keyframes loading {
    from {
        -o-transform: rotate(0deg) translateZ(0);
    }
    to {
        -o-transform: rotate(360deg) translateZ(0);
    }
}

@-o-keyframes idle {
    from {
        -o-transform: rotate(0deg) translateZ(0);
    }
    to {
        -o-transform: rotate(0deg) translateZ(0);
    }
}

.tab_acticityItem {
    margin-top: 10px;
    width: 100%;
    /*height: 220px;*/
    background-color: #fff;
    display: block;
    border-top: 1px #ccc solid;
    border-bottom: 1px #ccc solid;
    text-align: center;

}

.tab_acticityItem_img {
    max-height: 112px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #e32a34;

}

.tab_acticityItem_img_cover {
    z-index: 2;
    position: absolute;
    height: 112px;
    left: 25px;
    right: 25px;
    margin-top: -195px;
    background-color: rgba(100, 100, 100, 0.5);

}

.tab_acticityItem_img_cover_tip {
    margin-top: 42px;
    height: 30px;
    margin-left: 100px;
    margin-right: 100px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding-top: 10px;
    width: auto;
}

.tab_acticityItem_msg_wrapper {
    padding: 10px;
    text-align: left;

}

.tab_acticityItem_msg_1 {
    font-size: 15px;
    text-align: left;
    text-shadow: none;
    color: #333;
}

.tab_acticityItem_msg_2 {
    font-size: 13px;
    color: #666;
}

.tab_acticityItem_time_wrapper {
    border-top: 1px solid #ccc;
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
}

.tab_acticityItem_time {
    font-size: 14px;
    color: #999;
    position: absolute;
    width: 100%;
    text-align: left;
    margin-top: 12px;
    text-shadow: none;

}

.tab_acticityItem_operation {
    font-size: 14px;
    color: #999;
    width: 100%;
    text-shadow: none;
    padding-right: 20px;
    text-align: right;
    margin-top: 12px;
}

/*/////////////////////活动 end///////////////////////*/
/*////////////////////分类 start//////////////////////*/

#wrapper_category_main {
    position: absolute;
    z-index: 1;
    top: 45px;
    left: 0;
    bottom: 0px;
    right: 70%;
    bottom: 48px;
    overflow: auto;
}

#wrapper_category_main #thelist-wrap ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: left;
}

#wrapper_category_main #thelist-wrap li {
    padding: 0 10px;
    text-align: right;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    background-color: #F2F2F2;
    font-size: 14px;
    color: #0F9854;
    text-shadow: none;
}

#wrapper_category_main #thelist-wrap .hover {
    padding: 0 10px;
    text-align: right;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #ccc;
    border-right: none;
    background-color: #fff;
    font-size: 14px;
}

#wrapper_category_main #thelist-wrap li img {
    width: 24px;
    height: 24px;
    float: left;
    margin-top: 8px;

}

#pullDown-three, #pullUp-three {
    background: #fff;
    height: 40px;
    line-height: 40px;
    padding: 5px 10px;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
    font-size: 14px;
    color: #888;
}

#pullDown-three, #pullUp-three {
    background: #fff;
    height: 40px;
    line-height: 40px;
    padding: 5px 10px;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
    font-size: 14px;
    color: #888;
}

#pullDown-three .pullDownIcon, #pullUp-three.pullUpIcon {
    display: block;
    float: left;
    width: 40px;
    height: 40px;
    background: url(../img/pull-icon@2x.png) 0 0 no-repeat;
    background-size: 40px 80px;
    /*chrome*/
    -webkit-background-size: 40px 80px;
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 250ms;
    /*ff*/
    -moz-background-size: 40px 80px;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 250ms;
    /*opera*/
    -o-background-size: 40px 80px;
    -o-transition-property: -o-transform;
    -o-transition-duration: 250ms;
}

#pullDown-three.idle .pullDownIcon {
    background-position: 0 0;
    /*chrome*/
    -webkit-transform: rotate(0deg) translateZ(0);
    -webkit-animation-name: idle;
    -webkit-animation-duration: 0;
    /*ff*/
    -moz-transform: rotate(0deg) translateZ(0);
    -moz-animation-name: idle;
    -moz-animation-duration: 0;
    /*opera*/
    -o-transform: rotate(0deg) translateZ(0);
    -o-animation-name: idle;
    -o-animation-duration: 0;
}

#pullUp_category.idle .pullUpIcon {
    background-position: 0 0;
    /*chrome*/
    -webkit-transform: rotate(-180deg) translateZ(0);
    /*ff*/
    -moz-transform: rotate(-180deg) translateZ(0);
    /*opera*/
    -o-transform: rotate(-180deg) translateZ(0);
}

#pullDown-three.flip .pullDownIcon {
    background-position: 0 0;
    /*chrome*/
    -webkit-transform: rotate(-180deg) translateZ(0);
    -webkit-animation-name: idle;
    -webkit-animation-duration: 0;
    /*ff*/
    -moz-transform: rotate(-180deg) translateZ(0);
    -moz-animation-name: idle;
    -moz-animation-duration: 0;
    /*opera*/
    -o-transform: rotate(-180deg) translateZ(0);
    -o-animation-name: idle;
    -o-animation-duration: 0;
}

#pullUp_category.flip .pullUpIcon {
    background-position: 0 0;
    /*chrome*/
    -webkit-transform: rotate(0deg) translateZ(0);
    /*ff*/
    -moz-transform: rotate(0deg) translateZ(0);
    /*opera*/
    -o-transform: rotate(0deg) translateZ(0);
}

#pullDown-three.loading .pullDownIcon, #pullUp_category.loading .pullUpIcon {
    background-position: 0 100%;
    /*chrome*/
    -webkit-transform: rotate(0deg) translateZ(0);
    -webkit-transition-duration: 0ms;
    -webkit-animation-name: loading;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    /*ff*/
    -moz-transform: rotate(0deg) translateZ(0);
    -moz-transition-duration: 0ms;
    -moz-animation-name: loading;
    -moz-animation-duration: 2s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    /*opera*/
    -o-transform: rotate(0deg) translateZ(0);
    -o-transition-duration: 0ms;
    -o-animation-name: loading;
    -o-animation-duration: 2s;
    -o-animation-iteration-count: infinite;
    -o-animation-timing-function: linear;
}

.homeIconItem {
    padding-top: 10px;
    height: 80px;
    background-color: #fff;
    text-align: center;
}

.homeIconItem .homeIconImg {
    max-height: 45px;
    max-width: 45px;
}

.homeIconItem .homeIconName {
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
    color: #999;
    text-shadow: none;
    overflow: hidden;

}

.homeFloorItemTitel {
    width: 100%;
    height: 30px;
    border-top: 1px #ccc solid;
    border-bottom: 1px #ccc solid;
    background-color: #fff;
    display: block;
}

.homeFloorItemTitelName {
    position: absolute;
    color: #0E9F6C;
    text-align: left;
    width: 100%;
    text-shadow: none;
    margin-top: 8px;
    padding-left: 10px;
    overflow: hidden;
    font-size: 14px;
}

.homeFloorItemTitelDescribe {
    position: absolute;
    text-align: right;
    color: #ccc;
    text-shadow: none;
    width: 100%;
    right: 10px;
    margin-top: 9px;
    overflow: hidden;
    font-size: 12px;
}

.homeFloorItemImgType1 {
    width: 100%;
    height: auto;
}

.homeFloorItemImgType2 {
    width: 100%;

    height: auto;
}

.ui_block_item_content_floor_3 {
    width: 100%;
    height: 84px;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}

.ui_block_item_content_floor_4 {
    width: 100%;
    height: 120px;
    background-color: #fff;
    text-align: center;
    border-bottom: 1px solid #ccc;

}

.ui_block_item_content_floor_5 {
    width: 100%;
    height: 84px;
    background-color: #fff;
    border-bottom: 1px solid #ccc;

}

.ui_block_item_content_floor_3_img {
    max-width: 84px;
    max-height: 84px;
    float: right;
    border-right: 1px solid #ccc;

}

.ui_block_item_content_floor_3_msg {
    right: 84px;
    height: 100%;
    display: block;
    padding: 10px;

}

.ui_block_item_content_floor_3_msg_name {
    font-size: 12px;
    max-height: 40px;
    color: #666;
    text-shadow: none;
}

.ui_block_item_content_floor_3_msg_price_div {
    left: 0px;
    right: 0px;
    height: 20px;
    margin-top: 4px;
    overflow: hidden;
}

.ui_block_item_content_floor_msg_price_mark {
    color: #f00;
    font-size: 10px;
    text-shadow: none;

}

.ui_block_item_content_floor_msg_price {
    color: #f00;
    font-size: 12px;
    text-shadow: none;

}

.ui_block_item_content_floor_msg_price_weight {
    color: #CCC;
    font-size: 10px;
    text-shadow: none;

}

.ui_block_item_content_floor_4_img {
    max-width: 84px;
    max-height: 84px;

}

.ui_block_item_content_floor_3_msg {
    top: 90px;
    height: 100%;
    width: 100%;
    display: block;
    padding-right: 10px;
    padding-left: 10px;

}

.ui_block_item_content_floor_4_msg_name {
    font-size: 12px;
    color: #333;
    text-shadow: none;
}

.tab_acticityItem {
    margin-top: 10px;
    width: 100%;
    /*height: 220px;*/
    background-color: #fff;
    display: block;
    border-top: 1px #ccc solid;
    border-bottom: 1px #ccc solid;
    text-align: center;

}

.tab_acticityItem_img {
    max-height: 112px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #e32a34;

}

.tab_acticityItem_img_cover {
    z-index: 2;
    position: absolute;
    height: 112px;
    left: 25px;
    right: 25px;
    margin-top: -195px;
    background-color: rgba(100, 100, 100, 0.5);

}

.tab_acticityItem_img_cover_tip {
    margin-top: 42px;
    height: 30px;
    margin-left: 100px;
    margin-right: 100px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding-top: 10px;
    width: auto;
}

.tab_acticityItem_msg_wrapper {
    padding: 10px;
    text-align: left;

}

.tab_acticityItem_msg_1 {
    font-size: 15px;
    text-align: left;
    text-shadow: none;
    color: #333;
}

.tab_acticityItem_msg_2 {
    font-size: 13px;
    color: #666;
}

.tab_acticityItem_time_wrapper {
    border-top: 1px solid #ccc;
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
}

.tab_acticityItem_time {
    font-size: 14px;
    color: #999;
    position: absolute;
    width: 100%;
    text-align: left;
    margin-top: 12px;
    text-shadow: none;

}

.tab_acticityItem_operation {
    font-size: 14px;
    color: #999;
    width: 100%;
    text-shadow: none;
    padding-right: 20px;
    text-align: right;
    margin-top: 12px;
}

.tcmlu {
    display: block;
    height: 40px;
    width: 100%;
    background-color: rgba(186, 196, 197, 0.19);
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.tcmlO {
    display: block;
    height: 40px;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}

.tcmlu img, .tcmlO img {
    position: absolute;
    height: 30px;
    width: 30px;
    left: 10px;
    margin-top: 8px;

}

.tcmlu div, .tcmlO div {
    position: absolute;
    height: 30px;
    right: 10px;
    margin-top: 14px;
    font-size: 14px;
    color: #0F9854;

}

.tcst {
    background-color: #F2F2F2;
    height: 22px;
    border-radius: 22px;
    border: 1px solid #ccc;
    color: #999;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    margin-top: 8px;
    padding-top: 8px;
    font-size: 14px;

}

.tcscg {
    height: 80px;
    margin-left: 10px;
    margin-right: 10px;

}

.tcscgi {
    text-align: center;
    font-size: 12px;
    color: #666;
}

.goodsIteml {
    height: 205px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 5px;
    display: block;
    text-align: center;

}

.goodsItemr {
    height: 205px;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 10px;
    text-align: center;
}

.goodsItemW {
    height: 195px;
    width: 100%;
    background-color: #fff;
    display: block;
}

.goodsItemImgW {
    width: 100%;
    background-color: #fff;
}

.goodsItemImg {
    height: 145px;
    width: 145px;
}

.goodsItemName {
    display: block;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 12px;
    color: #333;

}

.goodsItemPrice {
    display: inline-block;
    color: #f00;
    padding-left: 8px;
    padding-right: 8px;
}

.priceS {
    position: absolute;
    font-size: 12px;
    margin-top: 2px;
}

.price {
    position: absolute;
    color: #f00;
    margin-left: 8px;
    font-size: 16px;
}

.weight {
    color: #999;
    font-size: 12px;
    margin-left: 65px;
}

.googaddimg {
    position: absolute;
    width: 44px;
    height: 44px;
    margin-left: -48px;
    margin-top: 105px;
}

.goodlistnavo {
    color: #0F9854;
    text-align: center;
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 12px;
    border-bottom: 1px solid #0F9854;
    height: 44px;
}

.goodlistnavn {
    color: #999;
    text-align: center;
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 12px;
    height: 44px;

}

.my-userinfo {
    background-color: #a7c59d;
    height: 116px;
    left: 0px;
    right: 0px;
    display: block;
    padding-top: 10px;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-left: 20px;
    background-color: #fff;

}

.userName {
    position: absolute;
    color: #fff;
    font-size: 18px;
    margin-left: 10px;

}

.userLeve {
    position: absolute;
    color: #fff;
    font-size: 12px;
    margin-top: 30px;
    margin-left: 10px;

}

.indicator_right {
    width: 40px;
    height: 40px;
    right: 10px;
    position: absolute;
}

.userOp {
    position: absolute;
    height: 46px;
    width: 100%;
    background-color: #424942;
    margin-top: 15px;
}

#userOp-a {
    display: block;
    height: 100%;
    text-align: center;
}

#userOp-b {
    display: block;
    height: 100%;
    text-align: center;

}

#userOp-c {
    display: block;
    height: 100%;
    text-align: center;
}

.userOp-name {
    color: #fff;
    font-size: 10px;
    height: 10px;
    margin-top: 2px;
}

.userOpN {
    color: #fff;
    margin-top: 10px;
    font-size: 16px;
    line-height: 16px;
}

.userOrder {
    display: block;
    margin-top: 10px;
    height: 100px;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;

}

.userOrder .indicator_right {
    width: 40px;
    height: 40px;
    right: 10px;
    margin-top: -10px;
    position: absolute;

}

.userOrder .orderIcon {
    width: 24px;
    height: 24px;
    position: absolute;

}

.userOrder .orderName {
    position: absolute;
    color: #666;
    font-size: 14px;
    margin-left: 30px;
    margin-top: 5px;
}

.userOrder .orderDes {
    position: absolute;
    color: #ccc;
    font-size: 12px;
    right: 45px;
    margin-top: 5px;
}

.userOrder .orderTitel {
    width: 100%;
    height: 24px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    padding-left: 10px;
    padding-top: 10px;
}

.userOrder .orderOp {
    height: 56px;
    width: 100%;
    display: block;

}

.userOrder .IconOP {
    width: 44px;
    height: 44px;
}

.userOrder .oredrOp-name {
    color: #999;
    font-size: 12px;
    margin-top: -10px;

}

.userOrder .userOrderOp {
    height: 100%;
}

#userProperty {
    width: 100%;
    height: 140px;
    margin-top: 10px;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    background-color: #fff;

}

#userProperty .propertyIcon {
    width: 44px;
    height: 44px;

}

#userProperty #propertyTitel {
    width: 100%;
    height: 44px;
    border-bottom: 1px solid #ccc;
    padding-left: 10px;
}

#userProperty #propertyName {
    margin-top: 14px;
    color: #666;
    font-size: 14px;
    position: absolute;
}

#userProperty #propertyDes {
    margin-top: 14px;
    color: #ccc;
    font-size: 12px;
    position: absolute;
    right: 40px;
}

#userProperty .IconOP {
    width: 44px;
    height: 44px;
    margin-top: 40px;
}

#userProperty .op-name {
    color: #999;
    font-size: 12px;
    margin-top: -10px;
}

#usermony {
    left: 10px;
    right: 10px;
    margin-top: 8px;
    position: absolute;
    background-color: #F2F2F2;
    border-radius: 30px;
    display: block;
    padding: 10px;
}

#userProperty #monyBalance {
    font-size: 12px;
    color: #999;
}

#userProperty #monyB {
    font-size: 12px;
    color: #f00;
}

#userProperty #monyFreeze {
    font-size: 12px;
    color: #999;
    margin-left: 20px;
}

#userProperty #monyF {
    font-size: 12px;
    color: #f00;
}

.opItemWrapper {
    width: 100%;
    height: 44px;
    border-top: 1px solid #ccc;
    background-color: #fff;
}

.opItemWrapper .opItemIcon {
    width: 44px;
    height: 44px;

}

.opItemWrapper .opItemName {
    color: #666;
    font-size: 14px;
    position: absolute;
    margin-top: 15px;
}

.opItemWrapper .opItemDes {
    color: #ccc;
    font-size: 12px;
    position: absolute;
    margin-top: 15px;
    right: 40px;
}

.opItemWrapper .opItemRight {
    position: absolute;

    right: 0px;
    width: 44px;
    height: 44px;

}

.goodBCIcon {
    margin-top: 8px;
    width: 30px;
    height: 30px;
    margin-left: 10px;

}

.addCartText {
    height: 44px;
    position: absolute;
    right: 0px;
    background-color: #0F9854;
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 14px;
    font-size: 14px;
}

#GoodNameW #goodsName {
    font-size: 16px;
    color: #333;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

#GoodNameW #lastTimeInfo {
    font-size: 12px;
    color: #f00;
    margin: 10px;

}

#GoodPriceW {
    background-color: #fff;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #cccccc;
    padding: 10px;
    display: block;
}

#GoodPriceW #GoodPrice1s {
    color: #f00;

    font-size: 12px;

}

#GoodPriceW #GoodPrice1 {
    color: #f00;

    font-size: 18px;
}

#GoodPriceW #rate_weight {
    color: #ccc;
    font-size: 13px;
}

.spccc13 {
    color: #ccc;
    font-size: 13px;
}

.spf0013 {
    color: #f00;
    font-size: 13px;

}

#GoodsService {
    padding: 10px;
    display: block;
}

#GoodsServiceW {
    position: absolute;
    display: block;
    left: 75px;
    margin-top: -20px;
    right: 10px;
}

.spfff11 {
    display: inline-block;
    color: #fff;
    font-size: 11px;
    border-radius: 2px;
    margin-left: 10px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-top: 4px;
}

.GSgoodsinfo {
    padding-top: 10px;

}

.sp33313 {
    color: #333;
    font-size: 13px;
}

.divH44BwT10 {
    width: 100%;
    height: 42px;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
}

.sp33316L10T12 {
    display: block;
    position: absolute;
    color: #333;
    font-size: 16px;
    margin-left: 10px;
    margin-top: 12px;
}

.spccc12R10 {
    position: absolute;
    right: 44px;
    font-size: 12px;
    color: #ccc;
    margin-top: 15px;
}

.imgW44H44R0 {
    position: absolute;
    width: 44px;
    height: 44px;
    right: 0px;
}